# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
  - Create a code cell to convert minutes to hours
 - Create a markdown cell to list data science languages
 - Create a markdown cell for an introduction

Some of the popular languages that Data Scientists use are:

 1. Python
 2. R
 3. SQL
 4. Julia

| Data Science Tools | 
| --- | 
| Apache Spark | 
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [13]:
print(3*4+5)

17

This will convert 200 minutes to hours by diving by 60

In [14]:
print(200/60)

3.3333333333333335

## Author
Gil